section {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(6px);
  transition: all 0.8s cubic-bezier(.2,.8,.2,1);
}

section.show {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}