.footer {
  padding: 80px 24px 30px 24px;
  color: white;

  border-top: 1px solid rgba(255,255,255,0.08);
  margin-top: 100px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 40px;
}

/* BRAND */
.footer-brand img {
  height: 32px;
  margin-bottom: 10px;
}

.footer-brand p {
  font-size: 14px;
  opacity: 0.7;
  line-height: 1.5;
}

.footer-brand .small {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.5;
}

/* LINKS */
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-links h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-links a,
.footer-links p {
  display: block;
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 6px;
  text-decoration: none;
  color: white;
}

.footer-links a:hover {
  opacity: 1;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  opacity: 0.5;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links {
    grid-template-columns: 1fr;
  }
}